<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
    <h2 style="text-align: center">Patients</h2>
</head>
<body>

<table border="1" width="100%" cellpadding="5">
    <tr>
        <th>Patient ID</th>
        <th>PatientName</th>
        <th>PhoneNumber</th>
    </tr>
    <tr th:each="pat : ${patients}">
        <td th:text="${pat.id}">text</td>
        <td >
            <a th:text="${pat.patientName}"
               th:href="@{/medicalHistory/{id}(id=${pat.getId()})}">
                text
            </a>
        </td>
        <td th:text="${pat.patientPhoneNumber}">text</td>
    </tr>
</table>

<table>
    <tr>
        <td>
            <a href="/spring_jdbc_template_war/patients/new">Add new patient</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/spring_jdbc_template_war/resorthistory/new">
                Add new resort history
            </a>
        </td>
    </tr>
</table>

</body>
</html> 