<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Personal</title>
    <h2 style="text-align: center" >New Personal</h2>
</head>
<body>

<form th:method="POST" th:action="@{/personal}" th:object="${personal}">
    <br/>
    <label for="Name">Enter Name: </label>
    <input type="text" th:field="*{personalName}" id="Name"/>
    <br/>
    <label for="phoneNumber">Enter Phone Number: </label>
    <input type="text" th:field="*{personalPhoneNumber}" id="phoneNumber"/>
    <br/>
    <label for="qualificationId">Enter Qualification ID: </label>
    <input type="text" th:field="*{idQualification}" id="qualificationId"/>

    <input type="submit" value="Create!"/>
</form>

</body>