<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <h2 style="text-align: center">Main page</h2>
</head>
<body>
<table border="1" width="20%" cellpadding="5">
    <tr>
        <td>
            <a href="/spring_jdbc_template_war/patients">Patients</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/spring_jdbc_template_war/diagnoses">Diagnoses</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/spring_jdbc_template_war/manipulations">Manipulations</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/spring_jdbc_template_war/resorthistory">Resort histories</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/spring_jdbc_template_war/personal">Personal</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/spring_jdbc_template_war/availablemanipulations">Available Manipulations</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/spring_jdbc_template_war/prescriptions">Prescriptions</a>
        </td>
    </tr>
</table>
</body>
</html>