<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manipulations</title>
    <h2 style="text-align: center">Manipulations</h2>
</head>
<body>

<table border="1" width="100%" cellpadding="5">
    <tr>
        <th>Manipulation ID</th>
        <th>Manipulation</th>
    </tr>

    <tr th:each="manip : ${manipulations}">
        <td th:text="${manip.id}">text</td>
        <td th:text="${manip.manipulation}">text</td>
    </tr>

</table>
<table>
    <tr>
        <a href="/spring_jdbc_template_war/manipulations/new">Add new manipulation</a>
    </tr>
</table>
</body>
</html>