<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Prescription</title>
    <h2 style="text-align: center">New Prescription</h2>
</head>
<body>

<form th:method="POST" th:action="@{/prescriptions}" th:object="${prescription}">
    <br/>
    <label for="idManipulation">Manipulation id: </label>
    <input type="number" th:field="*{idManipulation}" id="idManipulation"/>
    <br/>
    <label for="ref">Personal prescribed ID: </label>
    <input type="number" th:field="*{idPersonalRef}" id="ref"/>
    <br/>
    <label for="idDiagnose">Diagnose ID: </label>
    <input type="number" th:field="*{idDiagnose}" id="idDiagnose"/>
    <br/>
    <label for="idExec">Personal Processor ID: </label>
    <input type="number" th:field="*{idPersonalExec}" id="idExec"/>
    <br/>
    <label for="idRes">Resort ID: </label>
    <input type="number" th:field="*{idResort}" id="idRes"/>
    <br/>
    <input type="submit" value="Create!"/>
</form>

</body>